body{
    background-color: black;
    margin:0;
    
}
.container{
    width:110%;
    margin:auto;
    margin:10px;
}
#rankings__container{
    
    width:30%;
}


#ranks{
    font-family: sans-serif;
    font-size: 12px;
    width: 150px;
    margin:15px;
    text-align: left;
    display: inline-block;
    color: orange;
}


#players{
    
    font-family: sans-serif;
    font-size: 12px;
    width: 300px;
    margin:1px;
    text-align: left;
    display: inline-block;
    color: #fff;
    border-collapse: separate;
    border-spacing: 0;
  
}

header {
   
    background-color: dodgerblue;
    position: relative;
    height:80px;
}

.btn{
   
    position: absolute;
    right: 30px;
    bottom: 20px;
    top:20px;
    margin:5px;
}

.clearfix:after{
    content:""
}

#players td, #players th{

    padding: 5px 2px;
    vertical-align: middle;
}
hr{
    width:112%;
    border-top: 2px solid #bb8c07;
}
h1{
    color: brown;
    text-align: center;
}

thead {
  background: #395870;
  background: linear-gradient(#49708f, #293f50);
  color: #fff;
  font-size: 11px;
  text-transform: uppercase;
}
th:first-child {
  border-top-left-radius: 5px;
  text-align: left;
}
th:last-child {
  border-top-right-radius: 5px;
}

td {
  border-bottom: 1px solid grey;
  
}

#logo{
    display : flex;
    justify-content: center;
}

.text-offset {
  color: #7c7c80;
  font-size: 12px;
}

.totalScore{
    font-weight: bolder;
    color:cornflowerblue;
}
#points{
    text-align: left;
}

#list{
color: orange;
font-size: 14px;
font-weight: bold;
}

#showrank, #hiderank{
color: white;
border-radius: 4px;
text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
margin-top: 20px;
background: rgb(28, 200, 65);
}