body{
    /* background: linear-gradient(black, grey); */
    background: black;
    margin:0;
    
}
.container{
    width:110%;
    margin:auto;
    margin:10px;
}

#rankings{
    font-family: sans-serif;
    font-size: 12px;
    width: 150px;
    margin:15px;
    text-align: left;
    display: inline-block;
    color: black;
}

#rankings td{
    color: black;
    background-color:lightgoldenrodyellow;
    border:none;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

#rankings th{
    background-color: #326295;
    font-weight: bold;
    color: #fff;
    white-space: nowrap;
}

#players{
    font-family: sans-serif;
    font-size: 12px;
    width: 300px;
    margin:1px;
    text-align: left;
    display: inline-block;
    color: green;
    border-collapse: separate;
    border-spacing: 0;
  
}

header {
   
    background: linear-gradient(to right, grey,lightblue);
    position: relative;
    height:80px;
}

.btn{
   
    position: absolute;
    right: 30px;
    bottom: 20px;
    top:20px;
    margin:5px;
}

.clearfix:after{
    content:""
}

#players td, #players th{
    padding: 5px 2px;
    vertical-align: middle;
}

hr{
    width:112%;
    border-top: 2px solid #bb8c07;
}
h1{
    color: brown;
    text-align: center;
}

thead {
  background: #395870;
  background: linear-gradient(#49708f, #293f50);
  color: orange;
  font-size: 11px;
  text-transform: uppercase;
}
th:first-child {
  border-top-left-radius: 5px;
  text-align: left;
}
th:last-child {
  border-top-right-radius: 5px;
}

td {
    color:white;
    border-bottom: 1px solid green;
    border: 0.5px groove orange;
    padding: 1px;
    text-align: left;
}

#logo{
    display : flex;
    justify-content: center;
    background: black;
}

.text-offset {
  color: #7c7c80;
  font-size: 12px;
}

.totalScore{
    font-weight: bolder;
    color:cornflowerblue;
}

#points{
    text-align: left;
}

#showrank, #hiderank{
color: white;
border-radius: 4px;
text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
margin-top: 20px;
background:black;
font-size: 12px;
}