<html lang="en">

<head>
    <!-- Add favicon http://iconhandbook.co.uk/reference/examples/favicons/ -->
        <link rel="icon" type="image/x-icon" href="wcup.ico" />
    <meta charset="utf-8">

    <title>WorldCup 2019</title>
    <meta name="description" content="fantasy points">
    <meta name="author" content="vino">

    <link rel="stylesheet" href="css/impl.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js"></script>
    <script src="node_modules/d3/build/d3.min.js"></script>
    <script src="node_modules/chart.js/dist/Chart.min.js"></script>
    <script src="js/app.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.0.1/Chart.bundle.min.js"></script>
</head>

<body ng-app="myApp" ng-controller="myController">
    <header>
        <div id='logo'>
                <img src="wolfpack.jpg" alt="worldcup" style="float:left" height="100" width="190">
            <img src="wc_2019.jpg" alt="worldcup" height="100" width="190">
            <!-- <h1>IPL</h1> -->
        </div>
    </header>
   
            <div>
              
                <canvas id="myChart" width="700" height="500" style="margin-top:30px;"></canvas>
              
            </div>
          
              <!-- <table class="table-bordered col-sm-4" style="margin-top:20px;" id="tl-1">
              </table>
              <table class="table-bordered col-sm-4" style="margin-top:20px;" id="tl-2">
              </table>
              <table class="table-bordered col-sm-4" style="margin-top:20px;" id="tl-3">
              </table>
              <table class="table-bordered col-sm-4" style="margin-top:20px;" id="tl-4">
              </table>
              <table class="table-bordered col-sm-4" style="margin-top:20px;" id="tl-5">
              </table>
              <table class="table-bordered col-sm-4" style="margin-top:20px;" id="tl-6">
              </table> -->
              
    <script type="text/javascript">
        var ctx = document.getElementById("myChart");
        var total_points = [
        [0,995],
        [0,3156],
        [0,1588],
        [0,1859],
        [0,2029],
        [0,2127],
        [0,2417],
        [0,969],
        [0,1428],
        [0,1970],
    ];
        var data = {
          labels: ["Start","06/09"],
          datasets: [
            {
              label: "Abhi",
              fill: false,
              backgroundColor: "rgba(75,192,192,0.4)",
              borderColor: "rgba(75,192,192,1)",
              pointBorderColor: "rgba(75,192,192,1)",
              pointBackgroundColor: "#fff",
              pointBorderWidth: 1,
              pointHoverRadius: 5,
              pointHoverBackgroundColor: "rgba(75,192,192,1)",
              pointHoverBorderWidth: 2,
              pointRadius: 1,
              pointHitRadius: 10,
              data: total_points[0],
            },
            {
              label: "Adi",
              fill: false,
              backgroundColor: "rgba(225,22,220,0.4)",
              borderColor: "rgba(225,22,220,1)",
              pointBorderColor: "rgba(225,22,220,1)",
              pointBackgroundColor: "#fff",
              pointBorderWidth: 1,
              pointHoverRadius: 5,
              pointHoverBackgroundColor: "rgba(225,22,220,1)",
              pointHoverBorderWidth: 2,
              pointRadius: 1,
              pointHitRadius: 10,
              data: total_points[1],
            },
            {
              label: "Chatur",
              fill: false,
              backgroundColor: "rgba(25,22,192,0.4)",
              borderColor: "rgba(25,22,192,1)",
              pointBorderColor: "rgba(25,22,192,1)",
              pointBackgroundColor: "#fff",
              pointBorderWidth: 1,
              pointHoverRadius: 5,
              pointHoverBackgroundColor: "rgba(25,22,192,1)",
              pointHoverBorderWidth: 2,
              pointRadius: 1,
              pointHitRadius: 10,
              data: total_points[2],
            },
            {
              label: "DrAG",
              fill: false,
              backgroundColor: "rgba(5,92,19,0.4)",
              borderColor: "rgba(5,92,19,1)",
              pointBorderColor: "rgba(5,92,19,1)",
              pointBackgroundColor: "#fff",
              pointBorderWidth: 1,
              pointHoverRadius: 5,
              pointHoverBackgroundColor: "rgba(5,92,19,1)",
              pointHoverBorderWidth: 2,
              pointRadius: 1,
              pointHitRadius: 10,
              data: total_points[3]
            },
            {
              label: "Raj",
              fill: false,
              backgroundColor: "rgba(255,50,50,0.4)",
              borderColor: "rgba(255,50,50,1)",
              pointBorderColor: "rgba(255,50,50,1)",
              pointBackgroundColor: "#fff",
              pointBorderWidth: 1,
              pointHoverRadius: 5,
              pointHoverBackgroundColor: "rgba(255,50,50,1)",
              pointHoverBorderWidth: 2,
              pointRadius: 1,
              pointHitRadius: 10,
              data: total_points[4],
            },
            {
              label: "Ram",
              fill: false,
              backgroundColor: "rgba(75,192,22,0.4)",
              borderColor: "rgba(75,192,22,1)",
              pointBorderColor: "rgba(75,192,22,1)",
              pointBackgroundColor: "#fff",
              pointBorderWidth: 1,
              pointHoverRadius: 5,
              pointHoverBackgroundColor: "rgba(75,192,22,1)",
              pointHoverBorderWidth: 2,
              pointRadius: 1,
              pointHitRadius: 10,
              data: total_points[5],
            },
            {
              label: "Jackie",
              fill: false,
              backgroundColor: "rgba(255,255,255,0.4)",
              borderColor: "rgba(255,255,255,0.4)",
              pointBorderColor: "rgba(255,255,255,0.4)",
              pointBackgroundColor: "#fff",
              pointBorderWidth: 1,
              pointHoverRadius: 5,
              pointHoverBackgroundColor: "rgba(255,255,255,0.4)",
              pointHoverBorderWidth: 2,
              pointRadius: 1,
              pointHitRadius: 10,
              data: total_points[6],
            },
            {
              label: "Kamal",
              fill: false,
              backgroundColor: "rgba(25,255,55,0.4)",
              borderColor: "rgba(255,55,255,0.4)",
              pointBorderColor: "rgba(255,55,255,0.4)",
              pointBackgroundColor: "#fff",
              pointBorderWidth: 1,
              pointHoverRadius: 5,
              pointHoverBackgroundColor: "rgba(25,55,25,0.6)",
              pointHoverBorderWidth: 2,
              pointRadius: 1,
              pointHitRadius: 10,
              data: total_points[7],
            },
            {
              label: "Vijay",
              fill: false,
              backgroundColor: "rgba(102,255,255,0.6)",
              borderColor: "rgba(102,255,255,0.6)",
              pointBorderColor: "rgba(102,255,255,0.6)",
              pointBackgroundColor: "#fff",
              pointBorderWidth: 1,
              pointHoverRadius: 5,
              pointHoverBackgroundColor: "rgba(102,255,255,0.6)",
              pointHoverBorderWidth: 2,
              pointRadius: 1,
              pointHitRadius: 10,
              data: total_points[8],
            },
            {
              label: "Vinod",
              fill: false,
              backgroundColor: "rgb(232, 199, 20)",
              borderColor: "rgba(232, 199, 201,1)",
              pointBorderColor: "rgba(232, 199, 20,1)",
              pointBackgroundColor: "#fff",
              pointBorderWidth: 1,
              pointHoverRadius: 5,
              pointHoverBackgroundColor: "rgba(75,192,22,1)",
              pointHoverBorderWidth: 2,
              pointRadius: 1,
              pointHitRadius: 10,
              data: total_points[9],
            },
          ]
        };
        var myChart = new Chart(ctx, {
            type: 'line',
            data: data,
            options: {
              responsive: false,
              scales: {
                yAxes: [{
                  ticks: {
                    beginAtZero: true
                  }
                }]
              }
            }
        });
        </script>

    <span>
        <button id="showrank" ng-click="showRankings()">Show Rankings</button>
        <span>
            &nbsp;&nbsp;
            <span>
                <button id="hiderank" ng-click="hideRankings()">Hide Rankings</button>
            </span>
            <div ng-show=showrank>
                <table id="rankings">
                    <thead>
                        <tr>
                            <th>Rank</th>
                            <th>Team</th>
                            <th>Points</th>

                        </tr>
                    </thead>
                    <tr ng-repeat="score in teamScores | orderBy:'-totalpoints'">
                        <td>{{$index+1}}</td>
                        <td>{{score.name}}</td>
                        <td>{{score.totalpoints}}</td>

                    </tr>
                </table>
            </div>
            <!--  <section>
                <h1 style="text-align:start">Leader Board</h1>
                    <div>
                            <table id="rankings">
                                <thead>
                                    <tr>
                                        <th>Player</th>
                                        <th>Points</th>
                                    </tr>
                                </thead>
                                <tr ng-repeat="player in topPlayers | orderBy:'-totalpoints' | limitTo: 10">
                                    <td>{{player.name}}</td>
                                    <td>{{player.totalpoints}}</td>
                                </tr>
                            </table>
                        </div>

            </section> -->


            <div class="container">
                <table id="players" ng-repeat="participant in allParticipants">
                    <caption>
                        <h2>{{participant.name}}</h2>

                    </caption>

                    <thead>
                        <tr>
                            <th>Rank</th>
                            <th>Player</th>
                            <th>Team </th>
                            <th>Points</th>
                        </tr>
                    </thead>
                    <tbody class="container">
                        <tr ng-repeat="player in participant.players | orderBy: '-total'">

                            <td>
                                {{$index+1}}
                            </td>
                            <td>
                                {{player.name}}
                            </td>

                            <td>
                                {{player.team}}
                            </td>

                            <td>
                                {{player.total}}
                            </td>

                        </tr>
                        <tr class="totalScore">
                            <td> </td>
                            <td>Top 14:</td>
                            <td></td>
                            <td id="points">{{totalScore(participant)}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--<canvas id="myChart" width="400" height="400"></canvas>-->
            <!-- <script src="js/chart.js"></script> -->
</body>

</html>